
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
* {
  font-family: "League Spartan", sans-serif;
  margin: 0;
}

section {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.protected{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f3f0;
    height: 20vh;
    border-radius: 15px;
    color: black;
    padding: 20px;
    transform: translateY(100px);
}

.protected-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-left: 20px;
    background: #e09f3e;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.04);
    color: white;
}

button:hover{
    color:  #f2e9e4;
    background-color: #a4680e;
    transition: 0.4s;
}
.protected h3{
font-size: 20px;
font-weight: 200;
}

.inputForm {
    max-width: 978px;
    width: 100vw;
    transform: translateY(-90px);
    display: flex;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    background-color: white;
  }
  

  
  #form {
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
  }
  
  #form > input,
  .btn {
    border: 1px solid #e9ecef;
    padding: 0.9em 1em;
    /* border-radius: 50px; */
  }
  
  #form input:focus {
    outline: none;
    border: none;
  }
  .relocate {
    background-color: #266150;
    padding: 10px 10px;
    color: #fdf8f5;
    border: none;
  }
  
  #form .btn {
    background-color: #266150;
    color: #fdf8f5;
    font-size: 1em;
    cursor: pointer;
  }
  
  .flex {
    display: flex;
    gap: 1em;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .inputForm .col-1 {
    margin: auto;
    padding: 3em 0;
  }

  .inputForm .col-2 img {
    width: 480px;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
  }

  @media screen and (min-width: 860px) {
    .inputForm .col-2 img{
      display: initial;
    }
  }