.protected{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f3f0;
    height: 20vh;
    border-radius: 15px;
    color: black;
    padding: 20px;
    transform: translateY(100px);
}

.protected-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-left: 20px;
    background: #e09f3e;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.04);
    color: white;
}

button:hover{
    color:  #f2e9e4;
    background-color: #a4680e;
    transition: 0.4s;
}
.protected h3{
font-size: 20px;
font-weight: 200;
}