body {
  background: rgba(0, 0, 0, 0.4)
 url("./images/booksource.jpg");
  background-repeat: none;
  background-size: cover;
  background-blend-mode: darken;

  object-position: center center;
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
* {
  font-family: "League Spartan", sans-serif;
  margin: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 font-size: 20px;
  padding: 1em;
  color: white;
  min-height: 2em;
  /* background: white; */
 
}

.navbar a {
  text-decoration: none;
  position: relative;
  color: white;
  padding-left: 40px;
  margin-left: 0.5em;
  margin-right: 1em;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.linky::after {
  position: absolute;
  content: " ";
  background-color: #e09f3e;
  width: 75%;
  height: 2px;
  left: 9px;
  bottom: -5px;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
  /* left: 2px; */
}

.linky:hover::after {
  transform: scaleX(1);
}

.review-btn{
  padding: 8px 15px;
  background: #f2e9e4;
color: #e09f3e;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
}

.review-btn:hover{
background-color: #a26914;
transition: 0.4s;
color: white;
}

.column-1{
  display: flex;
  justify-content: center;
align-items: center;
height: 80vh;
}

.home-h1{
  color: white;
  font-size: 40px;

}

.span-heading{
  color: #efa332;
  font-style: italic;

  background-color: #ffffff;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.4);
  padding: 16px 10px 10px 10px;
}
.column-2{
display: flex;
flex-wrap: wrap;
  justify-content: center;
  
 transform: translateY(-240px);
}
.home-paragraph{
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 30vw;
}

.login-btn{
  flex-basis: 100%;
  height: 0;
}
.login-btn button{
margin-left: 50%;
background: #e09f3e;
border: none;
padding: 12px 20px;
border-radius: 12px;
cursor: pointer;
font-size: 20px;
box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2);
color: white;
}

.login-btn button:hover{
  color:  #f2e9e4;
  background-color: #a4680e;
  transition: 0.4s;
}